<table class="table table-bordered text-center">
    <thead class="thead-dark">
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Nacionalidad</th> 
        <th></th>
        <th></th>
        <th></th>       
    </thead>
    <tbody>
        <tr class="trPointer" *ngFor="let actor of listaActores">
            <td class="align-middle">{{ actor.apellido }}</td>
            <td class="align-middle">{{ actor.nombre }}</td>
            <td class="align-middle">{{ actor.edad }}</td>
            <td class="align-middle">{{ actor.nacionalidad.name.common }}</td>
            <td><button type="button" class="btn btn-outline-info">Ver peliculas</button></td>
            <td><button type="button" class="btn btn-outline-success" (click)="verDetallePais(actor.nacionalidad)">Detalle del País</button></td>
            <td><button type="button" class="btn btn-outline-warning" (click)="verDetallesActor(actor)">Detalle del Actor</button></td>
        </tr>
    </tbody>
</table>


