<ul class="list-group list-group-flush">
    <li class="list-group-item">ID: <strong>{{ peliSeleccionada.id }}</strong></li>
    <li class="list-group-item">Nombre: <strong>{{ peliSeleccionada.nombre }}</strong></li>
    <li class="list-group-item">Tipo: <strong>{{ peliSeleccionada.tipo }}</strong></li>
    <li class="list-group-item">Fecha de Estreno <strong>{{ peliSeleccionada.fechaDeEstreno }}</strong></li>
    <li class="list-group-item">Cantidad de Público <strong>{{ peliSeleccionada.cantidadDePublico }}</strong></li>
    <li class="list-group-item d-flex justify-content-center"><img src="{{ peliSeleccionada.fotoDePelicula }}" alt=""></li>
</ul>

