<div style="margin: 4%;">
    <div class="container ">
      <div class="py-5 text-center">        
        <h2>Nueva Película</h2>
        <p class="lead">Complete los datos de la Película.</p>
      </div>
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <app-tabla-actor (actorSeleccionado)="elegirActor($event)"></app-tabla-actor>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Película</h4>          
        <form [formGroup]="formPeli" (ngSubmit)="altaPelicula()" class="needs-validation">        
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Titulo de la Película" formControlName="nombre" required/>
                    <div class="invalid" *ngIf="formPeli.controls.nombre.errors?.required && formPeli.controls.nombre.touched">
                      El titulo de la película es requerido.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="tipo">Tipo</label>
                    <input type="text" class="form-control" id="tipo" placeholder="Ingrese el genero de la Película" formControlName="tipo"  required/>
                    <div class="invalid" *ngIf="formPeli.controls.tipo.errors?.required && formPeli.controls.tipo.touched">
                    Ingrese a qué genero pertenece.
                    </div>
                </div>              
            </div>
            <div class="row">
                <div class="col-md-6 mb-3" >
                    <label for="fechaDeEstreno">Fecha de Estreno</label>
                    <input type="date" class="form-control" id="fechaDeEstreno" formControlName="fechaDeEstreno" required/>
                    <div class="invalid" *ngIf="formPeli.controls.fechaDeEstreno.errors?.required && formPeli.controls.fechaDeEstreno.touched">
                      Elija una fecha de estreno.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="cantidadDePublico">Cantidad de Público</label>
                    <input type="number" class="form-control" id="cantidadDePublico" placeholder="Número de espectadores" formControlName="cantidadDePublico" required/>
                    <div class="invalid" *ngIf="formPeli.controls.cantidadDePublico.errors?.required && formPeli.controls.cantidadDePublico.touched">
                        Ingrese la cantidad de espectadores.
                    </div>                
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3" >
                    <label for="fotoDePelicula">Suba la imagen</label>
                    <input type="file" class="form-control" id="fotoDePelicula" formControlName="fotoDePelicula" (change)="guardarImagen($event)">
                </div>
                <div class="col-md-6 mb-3"  *ngIf="hayActor">
                    <label for="actor">Elija un actor de la lista</label>
                    <input type="text" class="form-control" id="actor" placeholder="Seleccione un actor" required formControlName="actor"/>
                    <div class="invalid" *ngIf="formPeli.controls.actor.errors?.required && formPeli.controls.actor.touched">
                        Debe elegir un actor.
                    </div>                
                </div>
            </div>
            
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="formPeli.invalid">Crear Película</button>            
          </form>
        </div>
      </div>
    </div>
  </div>
