<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Listado de Actores</h1>
        <app-actor-tabla [listaActores]="actoresFirestore" (actorElegido)="mostrarDetalleActor($event)" (paisActor)="mostrarDetallePais($event)" (peliActor)="mostrarDetallePelis($event)"></app-actor-tabla>        
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Peliculas del Actor</h2>          
          <div *ngIf="verPelis">
            <app-actor-detalle-pelicula [lasPelis]="pelisDelActor"></app-actor-detalle-pelicula>
          </div>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
          <h2>Detalle del Pais</h2>
          <div *ngIf="verPais">
            <app-actor-detalle-pais [paisDelActor]="paisDelActor"></app-actor-detalle-pais>
          </div>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
          <h2>Detalle del Actor</h2>
          <div *ngIf="verActor">
            <app-actor-detalle [actorSeleccionado]="actorParaMostrar"></app-actor-detalle>
          </div>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>